! Xft settings -------------------------
Xft.dpi:	192
Xft.antialias:	true
Xft.rgba:	rgb

! Urxvt settings ----------------------
URxvt*font: xft:DejaVu Sans Mono:size=10:antialias=true
URxvt*boldFont: xft:DejaVu Sans Mono:size=10:style=bold:antialias=true
URxvt*lineSpace: 0
URxvt*scrollBar: false
URxvt*secondaryScroll: true
URxvt*saveLines: 65535
URxvt*perl-ext-common: selection-to-clipboard

!! Solarized Dark Theme ------------------------
*background:            #001618
*foreground:            #839496
*cursorColor:           #93a1a1
*pointerColorBackground:#586e75
*pointerColorForeground:#93a1a1

!! Black
*color0:                #073642
*color8:                #002b36

!! Red
*color1:                #dc322f
*color9:                #cb4b16
!! Green
*color2:                #859900
*color10:               #586e75
!! Yellow
*color3:                #b58900
*color11:               #657b83
!! Blue
*color4:                #268bd2
*color12:               #839496
!! Magenta
*color5:                #d33682
*color13:               #6c71c4
!! Cyan
*color6:                #2aa198
*color14:               #93a1a1
!! White
*color7:                #eee8d5
*color15:               #002b36
