priority -50

#
# Javascript Snippets
#
snippet arf "(args) => { }" b
(${1:args}) => {
	$0
}
endsnippet

#
# Mocha Snippets
#
snippet ita "async it(name, done)" b
it('${1:description}', (done) => {
	$0
});

endsnippet
